
<%= javascript_pack_tag 'hello_react' %>

<div id="game-container">

  <div id="menu-container">
    <ul id="menu">
      <li></li>
      <li id="status"></li>
      <li>
        <a href="#new-match" id="new-match" class="hidden button">NEW OPPONENT</a>
        <a href="#restart" id="restart" class="hidden button">RESTART</a>
      </li>
    </ul>
  </div>

 
    
</div>


