html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: radial-gradient(circle,#c0221a 0,#921913 60%,#6d100b 100%);
}
body {
    text-align:center;
    color:#000;
    padding:0;
    margin:0;
    // background-color: #2f5e0e;
    background-color: #005000;
    background-image: url(https://www.transparenttextures.com/patterns/pool-table.png);
    // background: url(https://static.worldofcardgames.com/wallpaper/fabrics/green-felt.jpg/v/217)
  }
  
  #game {
    margin:80px auto;
    background: rgba(255,255,255, 0.5);
    background:transparent;
  }
  h1, h2, h3, h4, h5, p, span, div, a, td, li {
    font-family:"Helvetica Neue", Helvetica, sans-serif;
  }
  
  table { border-collapse:collapse; position:relative; }
  td {
    width:170px;
    height:170px;
    border:0px solid #546363;
    border-right-width:6px;
    border-bottom-width:6px;
    text-align:center;
    font-size:80px;
    cursor:pointer;
  }
  
  
  td.O {
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    color:#455c7b;
  }
  td.X {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color:#ac6c82;
  }
  
  td:nth-child(3) { border-right-width:0px; }
  tr:last-child td { border-bottom-width:0px; }
  
  td.X:hover, td.O:hover { background:transparent !important }
  
  td.hover-0:after, td.hover-1:after {
    content:"X";
    display:block;
    pointer-events:none;
    position:relative;
    text-align:center;
    vertical-align:center;
    font-size:80px;
    color:#546363;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    opacity:0.4;
  }
  td.hover-1:after {
    content:"O";
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  }
  
  td.X.hover-0:after, td.X.hover-1:after,
  td.O.hover-0:after, td.O.hover-1:after {
    display:none !important;
  }
  
  h1 {
    text-align:center;
    font-size:43px;
    font-weight:200;
    color:#000;
  }
  
  
  #menu-container {
    background:#685c79;
    padding:10px;
    padding-bottom:13px;
  }
  
  #menu {
    width: 100%;
    margin:0 auto;
    padding:0;
    opacity:1;
    -webkit-transition:opacity 0.2s linear;
    transition:opacity 0.2s linear;
  }
  
  .hidden {
    opacity: 0 !important;
    pointer-events:none;
  }
  
  #menu li {
    display:inline-block;
    width:250px;
    margin:0;
    padding:0;
    text-align:center;
    color:#fff;
  }
  #menu li:first-child { text-align:center; }
  #menu li:last-child  { text-align:center;}
  #menu li a {
    text-decoration:none;
  }
  
  .button {
    /*border-radius:4px;*/
    padding:7px;
    color:#fff;
    border:1px solid rgba(255,255,255,0.7);
    border-radius:4px;
    opacity:0.7;
    text-decoration:none;
  }
  .button:hover {
    opacity:1;
  }
  
  #theme {
    font-size:13px;
    position:absolute;
    bottom:10px;
    right:10px;
    color:#333;
    border-color:#333;
    background-color:rgba(255,255,255,0.35);
    opacity:1;
  }
  
  
  #status {
    color:#111;
    font-size:21px;
    -webkit-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
  }
  #status.show { opacity:1 }
  
  body, #menu-container, .button {
    -webkit-transition: color 0.2s linear, background 0.2s linear, border-color 0.2s linear;
    transition: color 0.2s linear, background 0.2s linear, border-color 0.2s linear;
  }
  
  
  /* Theme 03 */
  body.theme                 { background-color:#fff}
  body.theme #menu-container { background:#ff8b92 }
  body.theme td.O            { color:#AED272 }
  body.theme td.X            { color:#ff8b92 }


 
  .card p {
    text-align: center;
    font: 100px/220px Georgia, serif;
  }
  
  .suitdiamonds:before, .suitdiamonds:after {
    content: "♦";
    color: #ff0000;
  }
  
  .suithearts:before, .suithearts:after {
    content: "♥";
    color: #ff0000;
  }
  
  .suitclubs:before, .suitclubs:after {
    content: "♣";
    color: #000;
  }
  
  .suitspades:before, .suitspades:after {
    content: "♠";
    color: #000;
  }
  
  div[class*='suit']:before {
    position: absolute;
    font-size: 35px;
    left: 5px;
    top: 5px;
  }
  
  div[class*='suit']:after {
    position: absolute;
    font-size: 35px;
    right: 5px;
    bottom: 5px;
  }
  
  .card:hover {
    cursor: pointer;
  }
  
  
  /*SPREAD*/
  .spread {
    width: 350px;
    height: 250px;
    position: relative;
  }
  
  .spread > .card {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: top 0.3s ease, left 0.3s ease;
    -moz-transition: top 0.3s ease, left 0.3s ease;
    -o-transition: top 0.3s ease, left 0.3s ease;
    -ms-transition: top 0.3s ease, left 0.3s ease;
    transition: top 0.3s ease, left 0.3s ease;
  }
  
  .spread:hover .suitdiamonds {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  
  .spread:hover .suithearts {
    left: 30px;
    top: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  .spread:hover .suitclubs {
    left: 60px;
    top: 5px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  
  .spread:hover .suitspades{
    left: 80px;
    top: 10px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  
  .spread > .card:hover {
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 7px rgba(0,0,0,0.4);
  }
  
  /*GROW*/
  .grow > .card {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .grow > .card:hover {
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
    box-shadow: 1px 1px 7px rgba(0,0,0,0.9);
    -webkit-transform: scale(1.05,1.05);
    -moz-transform: scale(1.05,1.05);
    -o-transform: scale(1.05,1.05);
    -ms-transform: scale(1.05,1.05);
    transform: scale(1.05,1.05);
  }

 
  .card {
    display: inline-block;
    transition: 200ms;
    float: left;
    margin-right: 10px;
    z-index: 3;
    opacity: 1;
    // filter: brightness(0.5);
    .bckg {
      // phone==> w : 5em
      // phone==> h : 7.678500000000001em
      width: 8em; 
      height: 12.4em; 
      border-radius: 0.5em;
      overflow: hidden;
      position: relative;
      &::before {
        content: '';
        width: inherit;
        height: inherit;
        // background-color: #3230308a;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        transform-origin: center center;
      }
    }
    .center-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3em;
    }
    &.red {
      color: #dc251c;
      .bckg {
        background-color: #dc251c;
      }
    }
    &.yellow {
      color: #fcf604;
      .bckg {
        background-color: #fcf604;
      }
    }
    &.blue {
      color: #0493de;
      .bckg {
        background-color: #0493de;
      }
    }
    &.green {
      color: #018d41;
      .bckg {
        background: url(https://static.worldofcardgames.com/pieces/card/anglo/32/9d.png/v/217);
      }
    }
    &.black {
      color: #1f1b18;
      .bckg {
        background: url(https://cosmicrealms.com/images/1s.png);
      }
    }
    &.turned {
        transition: transform 0.2s ease 0s, filter 0.5s ease 0s;
        transform: scale(0.5);
      
      .bckg {
        background-color: #1f1b18;
        &::before {
          background-color: #dc251c;
          background: url(https://user-images.githubusercontent.com/79036942/156501785-17a0266a-d489-4dde-a890-d740fef80a15.PNG);
        }
      }
    }
  }
  .game-field {
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 0.5em;
    grid-template-columns: 12em 24em 12em;
    grid-template-rows: 12em 24em 12em;
    box-shadow: 0 0 2px 1px #ffe23f, inset 0 0 2px 2px #ffe448;
    #piles_area {
      position: relative;
      border-radius: 4em;
      transition: 200ms;
      // box-shadow: 0 0 6px 4px #ffe23f, inset 0 0 3px 3px #ffe448;
      // box-shadow: 0 0 2px 1px #ffe23f, inset 0 0 2px 2px #ffe448;
      // transition: transform .3s ease,margin-left .4s ease,box-shadow .2s ease,width .2s ease,filter .2s ease;
    }
    &.yellow {
      #piles_area {
        background-color: rgba(252,246,4,0.4);
      }
    }
    &.blue {
      #piles_area {
        background-color: rgba(4,147,222,0.4);
      }
    }
    &.red {
      #piles_area {
        // background: url(https://static.worldofcardgames.com/wallpaper/fabrics/green-felt.jpg/v/217);
      }
    }
    &.green {
      #piles_area {
        background-color: rgba(1,141,65,0.4);
      }
    }
    &.perspective {
      // transform: rotateX(30deg);
    }
  }
  #draw_pile {
    position: absolute;
    left: 60px;
    bottom: 29vh;
    cursor: pointer;
    .card {
      &.pile {
        box-shadow: 0px 2px #fff, 0px 4px rgba(0,0,0,0.16), 0px 6px #fff, 0px 8px rgba(0,0,0,0.16), 0px 10px #fff, 0px 12px rgba(0,0,0,0.16), 0px 14px #fff, 0px 16px rgba(0,0,0,0.16), 0px 18px #fff, 0px 20px rgba(0,0,0,0.16);
        &:hover {
          transform: none;
        }
      }
      &.top-card {
        z-index: 100;
        box-shadow: none;
        &:hover {
          box-shadow: 0px 4px rgba(0,0,0,0.16);
          cursor: pointer;
          transform: translateY(1em);
        }
      }
    }
  }
  

  
  .stack{
    top: 16em;
    position: absolute;
    left: -34e+m;
    height: 197px;
    background: url(https://scuffeduno.online/img/spritesheet.3d854481.jpg) no-repeat;
    background-size: 1317%;
    border-radius: 14px;
    width: 127px;
    transform: rotate(-30deg) rotateY(20deg) rotateX(20deg) scale(0.85) !important;
    background-position: -644.25px -994.25px;transform: rotate(0deg);
    box-shadow: 0 0 15px 0 #00000073;
    // box-shadow: 0 0 2px 1px #ffe23f, inset 0 0 2px 2px #ffe448;
    transition: transform .3s ease,margin-left .4s ease,box-shadow .2s ease,width .2s ease,filter .2s ease;
  }
   #draw_pile .card.top-card,
  #draw_pile .card.pile {
    position: absolute;
  }
  #discard_pile {
    position: absolute;
    left: 12em;
    top: 5.7em;
    .card {
      &.pile {
        box-shadow: 0px 2px #fff, 0px 4px rgba(0,0,0,0.16), 0px 6px #fff, 0px 8px rgba(0,0,0,0.16);
        &:hover {
          transform: none;
        }
      }
      &.top-card {
        z-index: 100;
        box-shadow: none;
      }
    }
  }
  #discard_pile .card.top-card,
  #discard_pile .card.pile {
    position: absolute;
  }
  #piles_area {
    grid-area: 2/2;
  }
  #player {
    grid-area: 3/2;
    .player_hand {
      &:hover{
        // transition: transform .2s ease,filter .5s ease;
        // transform: scale(0.8);
      }
      .card {
        cursor: pointer;
        &:hover {
          // transform-origin: left bottom;
          // transform: rotate(-10deg) translateY(-0.5em);
          & ~ .card {
            transform: translateX(2em);
          }
        }
      }
    }
  }
  #player_left {
    grid-area: 2/1;
    .player_hand {
      transform-origin: left bottom;
      transform: rotate(90deg) translateY(-10em);
    }
  }
  #player_top {
    grid-area: 1/2;
    .player_hand {
      transform: translateY(1em);
    }
  }
  #player_right {
    grid-area: 2/3;
    .player_hand {
      transform-origin: left bottom;
      transform: rotate(-90deg) translate(-24em, 1em);
    }
  }
  .player_hand {
    position: relative;
    .card {
      position: absolute;
      &:nth-child(1) {
        left: 2.2em;
      }
      &:nth-child(2) {
        left: 4.4em;
      }
      &:nth-child(3) {
        left: 6.600000000000001em;
      }
      &:nth-child(4) {
        left: 8.8em;
      }
      &:nth-child(5) {
        left: 11em;
      }
      &:nth-child(6) {
        left: 13.200000000000001em;
      }
      &:nth-child(7) {
        left: 15.400000000000002em;
      }
    }
  }
 




.direction.reverse:after{
    top:36px;
    left:8px;
    transform:rotate(-133deg)
}
.direction.reverse:before{
    bottom:36px;
    right:8px;
    left:auto;
    transform:rotate(44deg)
}
.direction:after,.direction:before{
    position:absolute;
    content:"";
    width:0;
    height:0;
    border:20px solid transparent;
    border-bottom-color:hsla(0,0%,100%,.3137254901960784)
}
.direction:after{
    top:36px;
    right:8px;
    transform:rotate(135deg)
}
.direction:before{
    bottom:36px;
    left:8px;
    transform:rotate(-45deg);
}
@-webkit-keyframes rotate{
    to{
        transform:scale(1.2) rotateX(58deg) rotate(1turn)
    }
}
@keyframes rotate{
    to{
        transform:scale(1.2) rotateX(58deg) rotate(1turn);
    }
}

